
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body{
   background-image: linear-gradient(to right,violet,cyan);
 }
.quotes-box{
  background: white;
  width: 40rem;
  height: 17rem;
  margin: auto;
  margin-top: 10rem;
  border-radius: 3rem;
  padding: 3rem;
  
}
.quotes-text{
  font-family:cursive;
  font-weight: 600;
  padding: 1.2rem;
}
.quotes-author{
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top: 58%;
  
  
}
.social-icons{
  margin:0 0.6rem;
  color: red;
  transition:0.5s;
  cursor: pointer;
  

}
.social-icons:hover{
  color: darkblue;
}
.next-button{
  height: 2rem;
  width: 5rem;
  background: crimson;
  color: white;
  border: none;
  border-radius: 1.5rem;
  opacity: 0.6;
  cursor: pointer;
  position: fixed;
  right: 33%;
  
}
.next-button:hover{
  opacity: 0.9;
}